/MusanFilms/vendor
/MusanFilms/.env
/MusanFilms/.env.backup
/MusanFilms/.env.production
/MusanFilms/phpunit.result.cache
/MusanFilms/.phpactor.json
/MusanFilms/Homestead.json
/MusanFilms/Homestead.yaml
/MusanFilms/npm-debug.log
/MusanFilms/yarn-error.log
/MusanFilms/auth.json

/MusanFilms/.phpunit.cache
/MusanFilms/node_modules
/MusanFilms/public/build
/MusanFilms/public/hot
/MusanFilms/public/storage
/MusanFilms/storage/*.key
/MusanFilms/storage/pail

/MusanFilms/.fleet
/MusanFilms/.idea
/MusanFilms/.nova
/MusanFilms/.vscode
/MusanFilms/.zed

# Ignorar todo en storage
/MusanFilms/storage/*
!/MusanFilms/storage/app/
/MusanFilms/storage/app/public/*
!/MusanFilms/storage/app/public/css/
/MusanFilms/storage/app/public/css/*
!/MusanFilms/storage/app/public/images/
/MusanFilms/storage/app/public/images/*
!/MusanFilms/storage/app/public/portadas/
/MusanFilms/storage/app/public/portadas/*
!/MusanFilms/storage/app/public/portadas/.gitkeep
